{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "printWidth": 120
}
  